/* Remove Default Margin/Padding */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

/* Header styling */
h1 {
    background-color: #454545;
    color: white;
    font-size: 2.5em;
    text-align: center;
    padding-top: 1.2em;
    padding-bottom: .3em;
}


/* Navbar */
.menu-bar {
    background-color: #999999;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;

}



.menu-bar ul {
    display: inline-flex;
    list-style: none;
}

.menu-bar ul li {
    width: 155px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}



.menu-bar ul li a {
    text-decoration: none;
    color: white;
}


.menu-bar ul li {
    margin: 0;
}

.menu-bar ul li:hover {
    background-color: #454545;

}

.fas {
    margin-left: 10px;
    color: white;
}


/* Drop-down */
.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: #999999;
    margin-top: 10px;
    margin-left: -10px;

}


.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
    background-color: #E8E8E8;
    padding: 0;
    margin: 0;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    padding: 10px;
    text-align: left;
}

.sub-menu-1 ul li:hover {
    background-color: #999999;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: white;
}


.sub-menu-1 ul li a {
    color: #1b5fde;
}





/* Offer slider */
.offer-slider {
    border: 2px solid steelblue;
    width: 99.9%;
    height: 60vh;
    background-image: url(../img/Animation/ani1.jpg);
    background-repeat: no-repeat;
    margin-left: 1px;
    margin-top: 1px;
    background-size: 100% 100%;
    animation: offerSlideShow 30s infinite;

}



@keyframes offerSlideShow {
    0% {
        background-image: url(../img/Animation/ani1.jpg);
    }

    20% {
        background-image: url(../img/Animation/ani2.png);
    }

    40% {
        background-image: url(../img/Animation/ani3.jpg);
    }

    60% {
        background-image: url(../img/Animation/ani4.jpg);
    }

    80% {
        background-image: url(../img/Animation/ani5.jpg);
    }

    100% {
        background-image: url(../img/Animation/ani3.jpg);
    }
}



h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}



/* Product Card CSS */
.product-wrapper {
    display: grid;
    width: 100%;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin-left: .5%;

}



.product-card {
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    padding: .5rem;
    width: 90%;
    height: fit-content;
    display: inline-block;
    background-color: #efeff7;
    font-weight: bold;
}



.product-card img {
    width: 100%;
    height: 10rem;
    cursor: pointer;

}

.product-card img:hover {
    width: 101%;
    height: 10.4rem;

}



.product-card button {
    width: 90%;
    border-radius: 5px;
    height: 30px;
    margin-left: 0.7rem;
    background-color: #E6E6FA;
    border: 2px solid #a0a0df;
    color: orange;
    font-weight: bold;
    cursor: pointer;
}



.product-card button:active {
    background-color: rgb(250, 234, 230);
    border: 2px solid rgb(0, 255, 76);
    color: #a0a0df;
}

.product-info>p {
    font-weight: bold;
    font-size: small;
    color: #6262e0;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.product-title {
    margin-bottom: 10px;
}


/* Footer */
footer {
    display: block;
    position: relative;
    background-color: #080101;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    bottom: 0;
    margin-top: 1rem;
    box-sizing: border-box;

}


/* Media Queries */
@media(min-width: 1051px) and (max-width:1200px) {
    header {
        min-width: 1050px;
        max-width: 1200px;

    }

    .menu-bar {
        min-width: 1050px;
        max-width: 1200px;
    }

    .offer-slider {
        min-width: 1050px;
        max-width: 1200px;

    }

    .product-wrapper {
        max-width: 1200px;
        margin-left: 30px;
        grid-template-columns: repeat(3, 1fr);

    }

    footer {
        min-width: 1050px;
        max-width: 1200px;
    }
}

@media(min-width: 732px) and (max-width: 1051px) {

    body {
        width: 1050px;
    }

    header {
        min-width: 732px;
        max-width: 1051px;
    }

    .menu-bar {
        min-width: 732px;
        max-width: 1051px;
    }

    .offer-slider {
        min-width: 732px;
        max-width: 1051px;
    }

    .menu-bar {
        min-width: 732px;
        max-width: 1051px;
    }

    .product-wrapper {
        margin-left: 10px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;

    }
}




@media(min-width:390px) and (max-width:414px) {
    body {
        width: 1050px;
    }

    header {
        min-width: 390px;
        max-width: 414px;
    }



    .menu-bar {
        min-width: 390px;
        max-width: 414px;
    }

    .offer-slider {
        min-width: 390px;
        max-width: 414px;

    }

    .menu-bar {
        min-width: 390px;
        max-width: 414px;
    }


    .product-wrapper {
        display: flex;
        min-width: 390px;
        max-width: 414px;
        flex-direction: column;
    }
}